
html, body{
    height: 100%;
}

body{
    background-color: #fbfbfb;
}

img {
    height: 250px;
}

.card-img-showcase {
    object-fit: cover;
    height: 10rem;
}

.description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Custom classes */

.fit-cover{
    object-fit: cover;
}

.cart-summary{
    background-color: #323232;
}

.icon-link:hover{
    color: rgb(76, 76, 76);
}

/* Custom form */

.custom-form form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px;
  }