
html, body{
    height: 100%;
}

body{
    background-color: #fbfbfb;
}

.card-img-showcase {
    object-fit: cover;
    height: 10rem;
}

.description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}